.container{
    width: 100%;
    margin: 2rem auto;
    padding: 0 5rem;
    box-sizing: border-box;
}
.container h2{
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}
.container span{
    display: block;
    font-size: 1.1rem;
    text-align: center;
}
.item{
    width: 100%;
    object-fit: scale-down;
    border-radius: 10px;
    margin-top: 2rem;
}
@media screen and (max-width: 768px){
    .container span{
        font-size: 1rem;
    }
}
@media screen and (max-width: 425px){
    .container span{
        font-size: 0.9rem;
    }
}