*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}
body{
    background-color: #141414;

}
header{
    width: 100%;
    padding: 2rem 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.sectionheader{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}
.divlogo{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.divlogo img{
    width: 100%;
}
.divtext {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.divsuporte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}
.divtext a:hover{
    transition-timing-function: ease;
    transition-duration: 0.7s;
    color: #EF3446;
    border-radius: 5px;
    cursor: pointer;
}
.divsuporte a:hover{
    transition-timing-function: ease;
    transition-duration: 0.7s;
    color: #EF3446;
    border-radius: 5px;
    cursor: pointer;
}
.textmenu{
    font-size: 1.1rem;
    font-weight: bolder;
}
@media screen and (max-width: 1440px){
    header{
        padding: 2rem 15%;
    }
    .divlogo{
        width: 22%;
    }
    .divtext{
        gap: 1rem;
    }
}
@media screen and (max-width: 1024px){
    header{
        padding: 2rem 12%;
    }
    .divlogo{
        width: 25%;
    }
    .divtext {
        gap: 1rem;
    }
    .divsuporte{
        gap: 1rem;
    }
    .textmenu{
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px){
    .divtext, .divsuporte{
        display: none;
    }
    .divlogo{
        width: 100%;
    }
}