.patrocinio{
    width: 100%;
    padding: 2rem 20%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    box-sizing: border-box;
}
.patrociniotime{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
}
.patrociniotimeimg {
    width: 25%;
}
.patrociniotimeimg img{
    width: 100%;
}
.patrocinioname{
    font-size: 2rem;
    font-weight: normal;
}
.patrociniored{
    color: #C3291F;
}
.patrocinioorange{
    color: #FF6600;
}
.patrociniotext{
    font-size: 1.3rem;
    font-weight: normal;
    width: 75%;
    margin-bottom: 5rem;
}
.borderpatrocinio {
    border-bottom: 2px solid #F52518;
}
.patrociniolosgrandesimg {
    width: 15%;
}
.patrociniolosgrandesimg img{
    width: 100%;
}
@media screen and (max-width: 1024px){
    .patrocinioname{
        font-size: 1.7rem;
    }
    .patrociniotext{
        font-size: 1.2rem;
        width: 90%;
    }
    .patrociniotimeimg{
        width: 30%;
    }
    .patrociniolosgrandesimg{
        width: 20%;
    }
}
@media screen and (max-width: 768px){
    .patrociniotimeimg {
        width: 40%;
    }
    .patrociniotext{
        font-size: 1.1rem;
        width: 100%;
    }
    .patrociniolosgrandesimg {
        width: 30%;
    }
}
@media screen and (max-width: 425px){
    .patrociniotime{
        gap: 2rem;
    }
    .patrociniotext{
        font-size: 1rem;
        width: 100%;
    }
    .patrociniotimeimg {
        width: 50%;
        margin-bottom: 2rem;
    }
    .patrociniolosgrandesimg{
        width: 35%;
    }
}
@media screen and (max-width: 375px){
    .patrociniotimeimg {
        width: 60%;
        margin-bottom: 2rem;
    }
    .patrociniolosgrandesimg {
        width: 40%;
    }
}