.patrocinio{
    width: 100%;
    padding: 2rem 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
}
.patrociniotime{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 3rem 0;
}
.patrociniotimeimg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
}
.patrociniotimeimg img{
    width: 22%;
}
.patrocinioname{
    font-size: 2rem;
    font-weight: normal;
}
.patrociniored{
    color: #C3291F;
}
.patrocinioorange{
    color: #FF6600;
}
.patrociniotext{
    font-size: 1.3rem;
    font-weight: normal;
    width: 70%;
    margin-bottom: 5rem;
    margin: auto 0;
}
.borderpatrocinio {
    border-bottom: 2px solid #F52518;
}
.patrociniolosgrandesimg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.patrociniolosgrandesimg img{
    width: 15%;
}
@media screen and (max-width: 1024px){
    .patrocinioname{
        font-size: 1.7rem;
    }
    .patrociniotext{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 768px){
    .patrocinioname{
        font-size: 2.1rem;
    }
    .patrociniotext{
        font-size: 1.1rem;
        width: 100%;
    }
    .patrociniolosgrandesimg{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .patrociniotimeimg{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .patrociniolosgrandesimg img{
        width: 20%;
    }
    .patrociniotimeimg img{
        width: 35%;
    }
}
@media screen and (max-width: 425px){
    .patrocinio{
        padding: 2rem 10%;
    }
    .patrocinioname{
        font-size: 1.9rem;
    }
    .patrociniotime{
        gap: 2rem;
    }
    .patrociniotext{
        font-size: 1.2rem;
        width: 100%;
    }
    .patrociniotimeimg img{
        width: 50%;
        margin-bottom: 2rem;
    }
    .patrociniolosgrandesimg img{
        width: 35%;
    }
}